* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  background-color: #4aaaa5;
  background-image: url("../images/hixs_pattern_evolution_2X.png");
  background-repeat: repeat;
  margin: 0px;
  color: #777777;
}

.leader {
  position: relative;
  overflow: auto;
  width: 960px;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
  border-color: #dddddd;
}

h1.title {
  float: left;
  color: white;
  width: 25%;
  background-color: #4aaaa5;
  padding: 20px 0;
  margin: 0;
  font-size: 28px;
  text-align: center;
}

h2 {
  position: relative;
  color: #4aaaa5;
  font-weight: 600;
  left: 15px;
  top: 5px;
}

nav {
  position: relative;
  float: right;
  height: 68px;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  
}
.button:hover {
  border: none;
  background-color: #4aaaa5;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  clear: both;
  width: 960px;
  background-color: #ffffff;
  border-color: #dddddd;
  margin: auto;
}

.topborder {
  border-top: 4px solid #4aaaa5;
  width: 80%;
  margin: auto;
}

.inputs {
  /* margin-left: 15px; */
  width: 100%;
}

p.pindent {
  margin-left: 15px;
}

#fname, #lname, #subject {
  margin-left: 15px;
  width: 90%
}

input[type=submit] {
  border: none;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 15px;
}

footer {
  overflow: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 8px solid #4aaaa5;
  height: 50px;
  background-color: #666666;
}